:root {
  --game-width: 400px;
  --game-height: 300px;
  --ball-size: 50px;
}

body {
  background-color: #000;
}

.wrapper {
  height: 100vh;
}

.h-center, .v-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h-center {
  flex-direction: row;
}

.v-center {
  flex-direction: column;
}

.container {
  position: relative;
  overflow: hidden;
  width: var(--game-width);
  height: var(--game-height);
  border: 10px solid #333;
}

.nature {
  background: linear-gradient(0deg,#7eb400 10%,#d5ff3d 30%,#fff 50%,#c6e8ff 55%,#34aaf8,#032bac 90%);
}

.ball {
  position: absolute;
  width: calc(var(--ball-size) * 0.75);
  height: var(--ball-size);
  animation: rise 5s 1 cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-play-state: paused;
  filter: drop-shadow(0 0 10px #ffffff99);
}

.inner {
  width: 100%;
  height: 100%;
  background-color: #ee3300;
  border-radius: 80%;
  box-shadow: inset -10px -10px 0 rgba(0,0,0,0.1);
  animation: pop 1s 1 cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-play-state: paused;
}

.inner:before {
  content:"▲";
  font-size: 8px;
  color: #ee3300;
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -7px;
}

@keyframes pop {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  10% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}

@keyframes rise {
  from {
    transform: translateY(var(--game-height));
  }
  to {
    transform: translateY(calc(var(--ball-size) * -2));
  }
}