.container {
  position: relative;
  overflow: hidden;
  min-width: var(--game-width);
  min-height: var(--game-height);
  border: 10px solid #333;
  border-radius: 20px;
  opacity: 0.5;
  transition: all 1s ease;
}

.container.active {
  opacity: 1;
  transition: all 1s ease;
}

.balloon {
  --speed: 1.5s;
  position: absolute;
  display: none;
  width: calc(var(--balloon-size) * 0.75);
  height: var(--balloon-size);
  /* animation: rise var(--speed) 1 cubic-bezier(0.19, 1, 0.22, 1) forwards; */
  animation: rise var(--speed) 1 ease-in-out forwards;
  animation-play-state: paused;
  filter: drop-shadow(0 0 10px #ffffff99);
  cursor: grab;
  --end-pos-x: 0;
  --start-pos-x: 0;
  --rotation: 0;
  --points: 1;
  --end-state: 0;
  transition: all 0.25s ease;
}

.balloon:active {
  cursor: grabbing;
}

.balloon:hover {
  animation-play-state: paused !important;
  filter: drop-shadow(0 0 15px #ffffff);
  transition: all 0.25s ease;
}

/* .balloon > .inner:hover {
  --parent-animation-state: paused;
} */

.balloon > .inner {
  width: 100%;
  height: 100%;
  background-color: var(--red);
  border-radius: 50%;
  color: #fff;
  font-size: 2.5rem;
  box-shadow: inset -10px -10px 10px rgba(0,0,0,0.3);
  animation: pop 0.3s 1 cubic-bezier(0.19, 1, 0.22, 1) forwards;
  animation-play-state: paused;
  --popped-state: 0;
}

.balloon > .inner:before {
  content:"▲";
  font-size: 14px;
  color: var(--red);
  display: block;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: -10px;
}

.balloon > .stick {
  content: "";
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, #333, #333 10%, transparent 100%);
  display: none;
  position: absolute;
  top: 100%;
  left: calc(50% - 1px);
  overflow: visible;
  z-index: -1;
}

@keyframes rise {
  0% {
    --scale: calc((10 - var(--points)) / 10);
    transform: translateX(var(--start-pos-x)) translateY(var(--game-height)) rotate(0deg) scale(var(--scale));
  }
  100% {
    --scale: calc((10 - var(--points)) / 10);
    transform: translateX(var(--end-pos-x)) translateY(calc(var(--balloon-size) * -1.5)) rotate(var(--rotation)) scale(var(--scale));
    display: none;
  }
}

@keyframes pop {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  20% {
    transform: scale(1.3, 1.1);
    opacity: 1;
    filter: drop-shadow(0 0 10px #ffffff99);
    background-color: var(--red-mid);
  }
  100% {
    transform: scale(0.1, 0.1);
    opacity: 0;
    cursor: auto;
  }
}