:root {
  --game-width: 400px;
  --game-height: 400px;
  --ball-size: 80px;
  --red: #ee0066cc;
  --red-bright: #ee0066;
  --red-mid: #ff73b0;
  --red-light: #ffb8d7;
}

body {
  background-color: #000;
  font-family: monospace;
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
  color: #ccc;
  margin: 30px;
  letter-spacing: 1px;
}

.nature {
  background: linear-gradient(0deg,#7eb400 10%,#d5ff3d 30%,#fff 50%,#c6e8ff 55%,#34aaf8,#032bac 90%);
}

h2 {
  font-size: 2.5rem;
  margin: 0;
}

.display {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.label {
  font-size: 1.25rem;
  font-weight: normal;
  color: #fff;
}

.leader-board > h3 {
  font-size: 1.5rem;
}

.leader-board > h3 > sup {
  font-size: 1rem;
  font-weight: normal;
}

.leader-board > ul {
  list-style: none;
  margin: 0;
  padding-right: 10px;
}

.leader-board > ul > li {
  font-size: 1rem;
  line-height: 1.75;
}

.scrollable {
  overflow: auto;
  max-height: 200px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #333;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}